@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="profile-page">
    <img class="profile-image"
         src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/fe/Video-Game-Controller-Icon-IDV-green.svg/800px-Video-Game-Controller-Icon-IDV-green.svg.png" />
    <div class="profile">
        <h1 div class="username">prilarocha</h1>
        <div class="bio">
            Passionate gamer 🎮 | Achievement hunter 🏆 | Game collector 📚 | Connecting with fellow gamers on Game Tracking for unforgettable gaming experiences!
            #GamingCommunity.
        </div>
        <div class="favorites">Favorites</div>
        <div class="playing-played">Playing/played</div>
        <div class="wishlist">Wishlist</div>
    </div>
</div>

