@{
    ViewData["Title"] = "Profile";
}

<head>
    <script src="/js/site.js"></script>
</head>

<div class="desktop">
    <img class="main-image"
         src="https://p7.hiclipart.com/preview/865/341/169/space-invaders-8-bit-video-game-computer-icons-arcade-game-startup.jpg" />
    <div class="profile">
        <h1 div class="main-title">Temporary Home</h1>
        <div class="bio">
            :)
        </div>
    </div>
</div>

