<div class="desktop">
    <div class="app-title">GAME TRACKING</div>
    <div class="username-field"></div>
    <div class="password-field"></div>
    <div class="password">Password</div>
    <div class="forgot-password">Forgot Password?</div>
    <div class="username-login">Username</div>
    <div class="login-button"></div>
    <div class="login">Login</div>
</div>

/* New login */

<div id="login_container">
    <form action="">
        <p class="app-title">GAME TRACKING</p>
        <input type="text" id="Username" placeholder="Username" />
        <input type="password" id="Password" placeholder="Password" />
        <input type="submit" id="login" value="Submit" onclick="Send_User_Credentials()" />
    </form>
    <div id="error"></div>
</div>

