<div id="login_container">
    <form action="">
        <p class="app-title">GAME TRACKING</p>
        <input type="text" id="Username" placeholder="Username" />
        <input type="password" id="Password" placeholder="Password" />
        <input type="submit" id="login" value="Submit" onclick="Send_User_Credentials()" />
    </form>
    <div id="error"></div>
    <a href="@Url.Action("Index", "Registration")">Register</a>
</div>
