<div class="desktop">
    <div class="app-title">GAME TRACKING</div>
    <div class="username-field"></div>
    <div class="password-field"></div>
    <div class="password">Password</div>
    <div class="forgot-password">Forgot Password?</div>
    <div class="username-login">Username</div>
    <div class="login-button"></div>
    <div class="login">Login</div>
</div>
