<head>
    <script src="/js/site.js"></script>
</head>

<div class="desktop">
    <img class="main-image"
         src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/fe/Video-Game-Controller-Icon-IDV-green.svg/800px-Video-Game-Controller-Icon-IDV-green.svg.png" />
    <div class="profile">
        <h1 div class="main-title">prilarocha</h1>
        <div class="bio">
            Passionate gamer 🎮 | Achievement hunter 🏆 | Game collector 📚 | Connecting with fellow gamers on Game Tracking for unforgettable gaming experiences!
            #GamingCommunity.
        </div>
        <div class="favorites">Favorites</div>
        <img class="favoriteGame1" src="https://image.smythstoys.com/zoom/157612.jpg" />
        <div class="playing-played">Playing/played</div>
        <img class="playingGame1" src="https://image.smythstoys.com/zoom/157612.jpg" />
        <div class="wishlist">Wishlist</div>
        <img class="wishlistGame1" src="https://image.smythstoys.com/zoom/157612.jpg" />
        <div class="friends">Friends</div>
        <img class="iconFriend1" src="https://img.freepik.com/premium-vector/anonymous-user-circle-icon-vector-illustration-flat-style-with-long-shadow_520826-1931.jpg" />
    </div>
</div>

