.desktop-2,
.desktop-2 * {
    box-sizing: border-box;
}

.desktop-2 {
    background: #ffffff;
    width: 1440px;
    height: 1024px;
    position: relative;
    overflow: hidden;
}

.rectangle-4 {
    background: #d9d9d9;
    width: 280px;
    height: 324px;
    position: absolute;
    left: 95px;
    top: 100px;
}

.iconmonstr-user-male-thin-240-1 {
    width: 240px;
    height: 240px;
    position: absolute;
    left: 115px;
    top: 142px;
    object-fit: cover;
}

.prilarocha {
    color: #000000;
    text-align: center;
    font-family: "PressStart2P-Regular", sans-serif;
    font-size: 32px;
    font-weight: 400;
    position: absolute;
    left: 450px;
    top: 99px;
    width: 502px;
    height: 30px;
}

.favorites {
    color: #000000;
    text-align: center;
    font-family: "PressStart2P-Regular", sans-serif;
    font-size: 24px;
    font-weight: 400;
    position: absolute;
    left: 401px;
    top: 286px;
    width: 464px;
    height: 37px;
}

.friends {
    color: #000000;
    text-align: center;
    font-family: "PressStart2P-Regular", sans-serif;
    font-size: 16px;
    font-weight: 400;
    position: absolute;
    left: 63px;
    top: 460px;
    width: 177px;
    height: 20px;
}

.playing-played {
    color: #000000;
    text-align: center;
    font-family: "PressStart2P-Regular", sans-serif;
    font-size: 24px;
    font-weight: 400;
    position: absolute;
    left: 450px;
    top: 610px;
    width: 464px;
    height: 37px;
}

.wishlist {
    color: #000000;
    text-align: center;
    font-family: "PressStart2P-Regular", sans-serif;
    font-size: 24px;
    font-weight: 400;
    position: absolute;
    left: 389px;
    top: 873px;
    width: 464px;
    height: 37px;
}

.mario-kart-1 {
    width: 150px;
    height: 241.16px;
    position: absolute;
    left: 450px;
    top: 323px;
    object-fit: cover;
}

.mario-kart-2 {
    width: 141px;
    height: 211px;
    position: absolute;
    left: 764px;
    top: 649px;
    object-fit: cover;
}

.bioshock-infinite-1 {
    width: 150px;
    height: 242.62px;
    position: absolute;
    left: 608px;
    top: 323px;
    object-fit: cover;
}

.bioshock-infinite-2 {
    width: 142px;
    height: 209px;
    position: absolute;
    left: 912px;
    top: 647px;
    object-fit: cover;
}

.the-room-2-1 {
    width: 150px;
    height: 211px;
    position: absolute;
    left: 450px;
    top: 647px;
    object-fit: cover;
}

.super-mario-wonder-1 {
    width: 150px;
    height: 242.72px;
    position: absolute;
    left: 450px;
    top: 903px;
    object-fit: cover;
}

.bio {
    color: #000000;
    text-align: left;
    font-family: "Roboto-Regular", sans-serif;
    font-size: 24px;
    font-weight: 400;
    position: absolute;
    left: 427px;
    top: 148px;
    width: 862px;
    height: 124px;
}

.vector-1 {
    width: 149.5px;
    height: 3.78px;
    position: absolute;
    left: 676.5px;
    top: 203.72px;
    overflow: visible;
}

.rayman-origins-1 {
    width: 150px;
    height: 211.46px;
    position: absolute;
    left: 607px;
    top: 647px;
    object-fit: cover;
}

.a-little-to-the-left-1 {
    width: 150px;
    height: 150px;
    position: absolute;
    left: 608px;
    top: 909px;
    object-fit: cover;
}

.splatoon-3-1 {
    width: 150px;
    height: 242.33px;
    position: absolute;
    left: 764px;
    top: 910px;
    object-fit: cover;
}

.splatoon-2-1 {
    width: 150px;
    height: 242.72px;
    position: absolute;
    left: 764px;
    top: 323px;
    object-fit: cover;
}

.splatoon-2-2 {
    width: 143px;
    height: 211px;
    position: absolute;
    left: 1061px;
    top: 645px;
    object-fit: cover;
}

.iconmonstr-user-male-thin-240-2 {
    width: 53px;
    height: 52px;
    position: absolute;
    left: 95px;
    top: 486px;
    object-fit: cover;
}

.iconmonstr-user-male-thin-240-5 {
    width: 53px;
    height: 52px;
    position: absolute;
    left: 309px;
    top: 486px;
    object-fit: cover;
}

.iconmonstr-user-male-thin-240-3 {
    width: 53px;
    height: 52px;
    position: absolute;
    left: 161px;
    top: 486px;
    object-fit: cover;
}

.iconmonstr-user-male-thin-240-4 {
    width: 53px;
    height: 52px;
    position: absolute;
    left: 235px;
    top: 486px;
    object-fit: cover;
}
