.desktop,
.desktop * {
    box-sizing: border-box;
}

.desktop {
    background: #ffffff;
    width: 1440px;
    height: 1024px;
    position: relative;
    overflow: hidden;
}

.profile-image {
    width: 240px;
    height: 240px;
    position: absolute;
    left: 115px;
    top: 142px;
    object-fit: cover;
}

.friends {
    color: #000000;
    text-align: center;
    font-family: "PressStart2P-Regular", sans-serif;
    font-size: 24px;
    font-weight: 400;
    position: absolute;
    left: 63px;
    top: 430px;
    width: 177px;
    height: 20px;
}

.iconFriend1 {
    width: 53px;
    height: 52px;
    position: absolute;
    left: 95px;
    top: 470px;
    object-fit: cover;
}

.username {
    color: #000000;
    text-align: center;
    font-family: "PressStart2P-Regular", sans-serif;
    font-size: 32px;
    font-weight: 400;
    position: absolute;
    left: 400px;
    top: 99px;
    width: 502px;
    height: 30px;
}

.bio {
    color: #000000;
    text-align: left;
    font-family: "Roboto-Regular", sans-serif;
    font-size: 24px;
    font-weight: 400;
    position: absolute;
    left: 427px;
    top: 148px;
    width: 862px;
    height: 124px;
}

.favorites {
    color: #000000;
    text-align: center;
    font-family: "PressStart2P-Regular", sans-serif;
    font-size: 24px;
    font-weight: 400;
    position: absolute;
    left: 400px;
    top: 290px;
    width: 464px;
    height: 37px;
}

.favoriteGame1 {
    width: 150px;
    height: 241.16px;
    position: absolute;
    left: 450px;
    top: 330px;
    object-fit: cover;
}

.playing-played {
    color: #000000;
    text-align: center;
    font-family: "PressStart2P-Regular", sans-serif;
    font-size: 24px;
    font-weight: 400;
    position: absolute;
    left: 400px;
    top: 600px;
    width: 464px;
    height: 37px;
}

.playingGame1 {
    width: 150px;
    height: 241.16px;
    position: absolute;
    left: 450px;
    top: 640px;
    object-fit: cover;
}

.wishlist {
    color: #000000;
    text-align: center;
    font-family: "PressStart2P-Regular", sans-serif;
    font-size: 24px;
    font-weight: 400;
    position: absolute;
    left: 400px;
    top: 910px;
    width: 464px;
    height: 37px;
}

.wishlistGame1 {
    width: 150px;
    height: 241.16px;
    position: relative;
    left: 450px;
    top: 950px;
    object-fit: cover;
}

.app-title {
    color: #000000;
    text-align: center;
    font-family: "PressStart2P-Regular", sans-serif;
    font-size: 64px;
    font-weight: 400;
    position: absolute;
    left: 400px;
    top: 20px;
    width: 464px;
    height: 37px;
}

.username-field {
    background: #d9d9d9;
    border-radius: 13px;
    border-style: solid;
    border-color: #000000;
    border-width: 1px;
    position: absolute;
    left: 450px;
    top: 300px;
    width: 370px;
    height: 37px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.username-login {
    color: #000000;
    text-align: left;
    font-family: "Roboto-Italic", sans-serif;
    font-size: 20px;
    font-weight: 400;
    font-style: italic;
    position: absolute;
    left: 465px;
    top: 305px;
    width: 131px;
    height: 21px;
}

.password-field {
    background: #d9d9d9;
    border-radius: 13px;
    border-style: solid;
    border-color: #000000;
    border-width: 1px;
    width: 370px;
    height: 37px;
    position: absolute;
    left: 450px;
    top: 380px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.password {
    color: #000000;
    text-align: left;
    font-family: "Roboto-Italic", sans-serif;
    font-size: 20px;
    font-weight: 400;
    font-style: italic;
    position: absolute;
    left: 465px;
    top: 385px;
    width: 107px;
    height: 26px;
}

.forgot-password {
    color: #000000;
    text-align: right;
    font-family: "Roboto-ThinItalic", sans-serif;
    font-size: 15px;
    font-weight: 100;
    font-style: italic;
    position: absolute;
    left: 640px;
    top: 430px;
    width: 171px;
    height: 26px;
}

.login-button {
    background: #d9d9d9;
    border-radius: 13px;
    width: 148px;
    height: 60px;
    position: absolute;
    left: 580px;
    top: 475px;
}

.login {
    color: #000000;
    text-align: center;
    font-family: "PressStart2P-Regular", sans-serif;
    font-size: 20px;
    font-weight: 400;
    position: absolute;
    left: 595px;
    top: 490px;
    width: 117px;
    height: 37px;
}
