.profile-page,
.profile-page * {
    box-sizing: border-box;
}

.profile-page {
    background: #ffffff;
    width: 1440px;
    height: 1024px;
    position: relative;
    overflow: hidden;
}

.profile-image {
    width: 240px;
    height: 240px;
    position: absolute;
    left: 115px;
    top: 142px;
    object-fit: cover;
}

.friends {
    color: #000000;
    text-align: center;
    font-family: "PressStart2P-Regular", sans-serif;
    font-size: 24px;
    font-weight: 400;
    position: absolute;
    left: 63px;
    top: 430px;
    width: 177px;
    height: 20px;
}

.iconFriend1 {
    width: 53px;
    height: 52px;
    position: absolute;
    left: 95px;
    top: 470px;
    object-fit: cover;
}

.username {
    color: #000000;
    text-align: center;
    font-family: "PressStart2P-Regular", sans-serif;
    font-size: 32px;
    font-weight: 400;
    position: absolute;
    left: 400px;
    top: 99px;
    width: 502px;
    height: 30px;
}

.bio {
    color: #000000;
    text-align: left;
    font-family: "Roboto-Regular", sans-serif;
    font-size: 24px;
    font-weight: 400;
    position: absolute;
    left: 427px;
    top: 148px;
    width: 862px;
    height: 124px;
}

.favorites {
    color: #000000;
    text-align: center;
    font-family: "PressStart2P-Regular", sans-serif;
    font-size: 24px;
    font-weight: 400;
    position: absolute;
    left: 400px;
    top: 290px;
    width: 464px;
    height: 37px;
}

.favoriteGame1 {
    width: 150px;
    height: 241.16px;
    position: absolute;
    left: 450px;
    top: 330px;
    object-fit: cover;
}

.playing-played {
    color: #000000;
    text-align: center;
    font-family: "PressStart2P-Regular", sans-serif;
    font-size: 24px;
    font-weight: 400;
    position: absolute;
    left: 400px;
    top: 600px;
    width: 464px;
    height: 37px;
}

.playingGame1 {
    width: 150px;
    height: 241.16px;
    position: absolute;
    left: 450px;
    top: 640px;
    object-fit: cover;
}

.wishlist {
    color: #000000;
    text-align: center;
    font-family: "PressStart2P-Regular", sans-serif;
    font-size: 24px;
    font-weight: 400;
    position: absolute;
    left: 400px;
    top: 910px;
    width: 464px;
    height: 37px;
}

.wishlistGame1 {
    width: 150px;
    height: 241.16px;
    position: absolute;
    left: 450px;
    top: 950px;
    object-fit: cover;
}




