<div id="login_container">
    <form action="">
        <p class="app-title">GAME TRACKING</p>
        <input type="text" id="Username" placeholder="Username" />
        <input type="password" id="Password" placeholder="Password" />
        <button id="login" onclick="Send_User_Credentials()">Login</button>
        <a href="/Signup">Register</a> 
    </form>
    <div id="error"></div>
   
</div>