@model FinalProject.Models.UserLogin

<div id="login_container">
    @using (Html.BeginForm("Index", "Login", FormMethod.Post))
    {
        <p class="app-title">GAME TRACKING</p>
        <input type="text" id="Username" placeholder="Username" />
        <input type="password" id="Password" placeholder="Password" />
        <input type="submit" id="Login" value="Login" onclick="Send_User_Credentials()" />
        <a href="/Signup">Register</a>
    }
    <div id="error"></div>
</div>
