<div class="desktop">
    <img class="main-image"
         src="https://upload.wikimedia.org/wikipedia/en/thumb/7/7f/Rayman_Origins_Box_Art.jpg/220px-Rayman_Origins_Box_Art.jpg" />
    <div class="profile">
        <h1 div class="main-title">Rayman Origins</h1>
        <div class="bio">
            Discover the roots of Rayman by collecting pieces of the Glade’s history,
            and assemble them to reveal the truth behind Rayman’s origins.
        </div>
        <div class="favorites">Achievements</div>
        <img class="favoriteGame1" src="https://image.smythstoys.com/zoom/157612.jpg" />
        <div class="playing-played">Playing/played</div>
        <img class="playingGame1" src="https://image.smythstoys.com/zoom/157612.jpg" />
        <div class="wishlist">Wishlist</div>
        <img class="wishlistGame1" src="https://image.smythstoys.com/zoom/157612.jpg" />
        <div class="friends">Friends</div>
        <img class="iconFriend1" src="https://img.freepik.com/premium-vector/anonymous-user-circle-icon-vector-illustration-flat-style-with-long-shadow_520826-1931.jpg" />
    </div>
</div>